<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MixpanelKey</key>
	<string>ddb99903ca5b060afe6440ada8a121ee</string>
	<key>DeviceSecretKey</key>
	<string>iZbR051Ox6NBcTYryGiP8AJ7W5TuEdyIdwxPxg9bL6KW</string>
</dict>
</plist>
